@model IEnumerable<RMS.Web.Models.OrderChild>

@{
    ViewBag.Title = "GetOrderChild";
}

<div class="container-fluid">
    <h1 class="col-lg-offset-5 " style="color:slategrey"></h1>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h1 class="m-0 font-weight-bold text-primary text-center">Ordered Items</h1>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead style="background-color:yellow">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.UnitPrice)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Discount)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Total)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Quantity)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Items.ItemName)
                            </th>
                        
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UnitPrice)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Discount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Total)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Quantity)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Items.ItemName)
                                </td>
                                <td>
                                   <a class="btn btn-primary"><i class="glyphicon glyphicon-info-sign"></i>Details </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <a class="btn btn-success" href="~/Order/Orders">Back to order</a>
            </div>
</div>
</div>
