@model RMS.Web.Models.ViewModels.VoucherMasterViewModel
@*<div>
    <div class="card shadow mb-4">
        <div class="card-header py-3" style="background-color:#5a5c69">

            <h4 class="m-0 font-weight-bold"><strong style="color:white;">Location Name :  <em id="locationname" style="color:yellow;"></em> </strong> <strong style="color:white; float:right;">Closing Balance :  <em style="color:yellow;" id="closing2"></em> </strong></h4>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-dark" id="datatable" width="100%" cellspacing="0">
                    <thead style="background-color:grey">

                        <tr>
                            <th>VoucherDate</th>
                            <th>VoucherType </th>
                            <th>VoucherNum/BillNum </th>
                            <th>Account Name</th>
                            <th>Narration</th>
                            <th>
                                Quantity IN
                            </th>
                            <th>
                                Quantity OUT
                            </th>
                            <th>Total Activity</th>

                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th> </th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th style="background-color:gray"> Quantity IN Total : <strong style="color:yellow;" id="totalquantin"></strong></th>
                            <th style="background-color:gray"> Quantity OUT Total : <strong style="color:yellow;" id="totalquantout"></strong> </th>
                            <th style="background-color:gray">Total Activity : <strong style="color:yellow;" id="totalsp"></strong> </th>
                        </tr>
                    </tfoot>
                    <tbody>

                        @if (Model.VoucherChildlist.Count != 0)
                        {
                            int rowid = 1;

                            foreach (var item in Model.Vouchermasterlist)
                            {
                               

                                foreach (var item3 in Model.masterids)
                                {
                                    if (item3 == item.vouchermasterid)
                                    {
                                        <tr>
                                            <td>@item.VoucherCreateDate</td>
                                            @{
                                                if (item.VoucherTypeID == 1)
                                                {
                                                    <td>Sale</td>

                                                    <td><a style="color:yellow;" href="/Sales/detailSVoucher/@item.vouchermasterid"><u>@item.vouchermasterid</u></a></td>
                                                }
                                                else if (item.VoucherTypeID == 2)
                                                {
                                                    <td>Purchase</td>

                                                    <td><a style="color:yellow;" href="/Purchase/detailPVoucher/@item.vouchermasterid"><u>@item.vouchermasterid</u></a></td>
                                                }
                                                else if (item.VoucherTypeID == 9)
                                                {
                                                    <td>Sale Return</td>

                                                    <td><a style="color:yellow;" href="/Purchase/detailPVoucher/@item.vouchermasterid"><u>@item.vouchermasterid</u></a></td>
                                                }
                                                else if (item.VoucherTypeID == 10)
                                                {
                                                    <td>Purchase Return</td>

                                                    <td><a style="color:yellow;" href="/Purchase/detailPVoucher/@item.vouchermasterid"><u>@item.vouchermasterid</u></a></td>
                                                }
                                                else if (item.VoucherTypeID == 12)
                                                {
                                                    <td>Stock Transfer</td>

                                                    <td><a style="color:yellow;" href="/Purchase/detailPVoucher/@item.vouchermasterid"><u>@item.vouchermasterid</u></a></td>
                                                }
                                                else if (item.VoucherTypeID == 13)
                                                {
                                                    <td>Receive From</td>

                                                    <td><a style="color:yellow;" href="/Purchase/detailPVoucher/@item.vouchermasterid"><u>@item.vouchermasterid</u></a></td>
                                                }
                                            }

                                            <td>@item.Account.AccountName</td>
                                            <td>@item.Narration</td>
                                            @foreach (var item2 in Model.VoucherChildlist.Where(m => m.VoucherMasterID == item3.Value))
                                            {
                                                if (item.DrCrType == 1)
                                                {
                                                    <td>0</td>
                                                    <td>@item2.Quantity</td>
                                                }
                                                else if (item.DrCrType == 2)
                                                {


                                                    <td>@item2.Quantity</td>
                                                    <td>0</td>

                                                }

                                            }
                                            <td style="color:yellow;" id="@rowid"></td>
                                            <td hidden>@rowid</td>


                                        </tr>
                                        rowid = rowid + 1;

                                    }
                                }




                            }
                        }
                        else
                        {

                        }



                    </tbody>


                </table>


            </div>


        </div>
    </div>





</div>*@


<div>
    <div class="card shadow mb-4">
        <div class="card-header py-3" style="background-color:#5a5c69">


            <button type="button" onclick="printJS({
            printable: 'printtable',
            // properties: ['name', 'email', 'phone', 'hello'],
            type: 'html',
            gridHeaderStyle: 'color: red;  border: 2px solid #3971A5;',
            gridStyle: 'border: 2px solid #3971A5;'})">
                Print Report
            </button>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <div class="container" style="box-shadow: 5px 5px 2px 2px grey;min-height: 100vh;">
                    <table id="printtable" style="width: 100%;max-width: 100%;margin-bottom: 1rem;background-color: #fff;border-collapse: collapse;">
                        <thead>
                            <tr>
                                <th colspan="7"><h1 style="text-align: left;text-align: center;">Stock Ledger</h1></th>
                            </tr>
                            <tr>
                                <th style="padding: 4px!important;font-size: 16px;text-align: left;vertical-align: bottom;font-weight: bold;" colspan="7" id="itemname2">3 Star</th>
                            </tr>
                            <tr>
                                <th style="padding: 4px!important;font-size: 14px;text-align: left;vertical-align: bottom;" colspan="7"><em id="sdate">16/06/2019 </em> To <em id="edate"> </em> <span style="float:right;">Closing Balance <em id="balance222">16/06/2019 </em></span></th>
                                @*<th style="padding: 4px!important;font-size: 14px;text-align: right;vertical-align: bottom;" colspan="7">  </th>*@
                            </tr>
                            <tr>
                                <th style="padding: 4px!important;font-size: 12px;text-align: left;vertical-align: bottom;border: 1px solid black;">Type</th>
                                <th style="padding: 4px!important;font-size: 12px;text-align: left;vertical-align: bottom;border: 1px solid black;">V.No</th>
                                @*<th style="padding: 4px!important;font-size: 12px;text-align: left;vertical-align: bottom;border: 1px solid black;">Location</th>*@
                                <th style="padding: 4px!important;font-size: 12px;text-align: left;vertical-align: bottom;border: 1px solid black;">Account</th>
                                <th style="padding: 4px!important;font-size: 12px;text-align: left;vertical-align: bottom;border: 1px solid black;">Description</th>
                                <th style="padding: 4px!important;font-size: 12px;text-align: left;vertical-align: bottom;border: 1px solid black;">Qty In</th>
                                <th style="padding: 4px!important;font-size: 12px;text-align: left;vertical-align: bottom;border: 1px solid black;">Qty Out</th>
                                <th style="padding: 4px!important;font-size: 12px;text-align: left;vertical-align: bottom;border: 1px solid black;">Stock</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.VoucherChildlist.Count != 0)
                            {
                                int rowid = 1;

                                foreach (var item in Model.Vouchermasterlist)
                                {
                                    //if (item.vouchermasterid == Model.VoucherChildlist.FirstOrDefault().VoucherMasterID)
                                    //{
                                    //}

                                    foreach (var item3 in Model.masterids)
                                    {
                                        if (item3 == item.vouchermasterid)
                                        {
                            <tr>
                                @{
                                    if (item.VoucherTypeID == 1)
                                    {
                                        <td style="padding: 4px!important;font-size: 12px;text-align: left;vertical-align: bottom;border: 1px solid black;">Sale</td>

                                        <td style="padding: 4px!important;font-size: 12px;text-align: left;vertical-align: bottom;border: 1px solid black;"><a href="/Sales/detailSVoucher/@item.vouchermasterid"><u>SB  @item.vouchermasterid</u></a></td>
                                    }
                                    else if (item.VoucherTypeID == 2)
                                    {
                                        <td style="padding: 4px!important;font-size: 12px;text-align: left;vertical-align: bottom;border: 1px solid black;">Purchase</td>

                                        <td style="padding: 4px!important;font-size: 12px;text-align: left;vertical-align: bottom;border: 1px solid black;"><a href="/Purchase/detailPVoucher/@item.vouchermasterid"><u>PB @item.vouchermasterid</u></a></td>
                                    }
                                    else if (item.VoucherTypeID == 9)
                                    {
                                        <td style="padding: 4px!important;font-size: 12px;text-align: left;vertical-align: bottom;border: 1px solid black;">Sale Return</td>

                                        <td style="padding: 4px!important;font-size: 12px;text-align: left;vertical-align: bottom;border: 1px solid black;"><a href="/Purchase/detailPVoucher/@item.vouchermasterid"><u>SR @item.vouchermasterid</u></a></td>
                                    }
                                    else if (item.VoucherTypeID == 10)
                                    {
                                        <td style="padding: 4px!important;font-size: 12px;text-align: left;vertical-align: bottom;border: 1px solid black;">Purchase Return</td>

                                        <td style="padding: 4px!important;font-size: 12px;text-align: left;vertical-align: bottom;border: 1px solid black;"><a href="/Purchase/detailPVoucher/@item.vouchermasterid"><u>PR @item.vouchermasterid</u></a></td>
                                    }
                                    else if (item.VoucherTypeID == 12)
                                    {
                                        <td style="padding: 4px!important;font-size: 12px;text-align: left;vertical-align: bottom;border: 1px solid black;">Stock Transfer</td>

                                        <td style="padding: 4px!important;font-size: 12px;text-align: left;vertical-align: bottom;border: 1px solid black;"><a href="/Purchase/detailPVoucher/@item.vouchermasterid"><u>ST @item.vouchermasterid</u></a></td>
                                    }
                                    else if (item.VoucherTypeID == 13)
                                    {
                                        <td style="padding: 4px!important;font-size: 12px;text-align: left;vertical-align: bottom;border: 1px solid black;">Receive From</td>

                                        <td style="padding: 4px!important;font-size: 12px;text-align: left;vertical-align: bottom;border: 1px solid black;"><a href="/Purchase/detailPVoucher/@item.vouchermasterid"><u>RF @item.vouchermasterid</u></a></td>
                                    }
                                }

                              @*  <td style="padding: 4px!important;font-size: 12px;text-align: left;vertical-align: bottom;border: 1px solid black;">@item.MaterialCentre.MaterialCentreName</td>*@
                                <td style="padding: 4px!important;font-size: 12px;text-align: left;vertical-align: bottom;border: 1px solid black;">@item.Account.AccountName</td>
                                <td style="padding: 4px!important;font-size: 12px;text-align: left;vertical-align: bottom;border: 1px solid black;">@item.Narration</td>
                                @foreach (var item2 in Model.VoucherChildlist.Where(m => m.VoucherMasterID == item3.Value))
                                {



                                    if (Model.LocationID == item.LocationID2)
                                    {
                                        if (item.DrCrType == 2)
                                        {
                                            <td style="padding: 4px!important;font-size: 12px;text-align: left;vertical-align: bottom;border: 1px solid black;">0</td>
                                            <td style="padding: 4px!important;font-size: 12px;text-align: left;vertical-align: bottom;border: 1px solid black;">@item2.Quantity</td>
                                        }
                                        else if (item.DrCrType == 1)
                                        {
                                            <td style="padding: 4px!important;font-size: 12px;text-align: left;vertical-align: bottom;border: 1px solid black;">@item2.Quantity</td>
                                            <td style="padding: 4px!important;font-size: 12px;text-align: left;vertical-align: bottom;border: 1px solid black;">0</td>

                                        }
                                    }
                                    else
                                    {
                                        if (item.DrCrType == 1)
                                        {
                                            <td style="padding: 4px!important;font-size: 12px;text-align: left;vertical-align: bottom;border: 1px solid black;">0</td>
                                            <td style="padding: 4px!important;font-size: 12px;text-align: left;vertical-align: bottom;border: 1px solid black;">@item2.Quantity</td>
                                        }
                                        else if (item.DrCrType == 2)
                                        {
                                            <td style="padding: 4px!important;font-size: 12px;text-align: left;vertical-align: bottom;border: 1px solid black;">@item2.Quantity</td>
                                            <td style="padding: 4px!important;font-size: 12px;text-align: left;vertical-align: bottom;border: 1px solid black;">0</td>

                                        }
                                    }
                                    @*<td>@item2.Quantity</td>*@

                                }
                                <td style="padding: 4px!important;font-size: 12px;text-align: left;vertical-align: bottom;border: 1px solid black;" id="@rowid"></td>
                                <td hidden>@rowid</td>


                            </tr>
                                            rowid = rowid + 1;

                                        }
                                    }




                                }
                            }
                            else
                            {

                            }


                        </tbody>
                        <tbody>
                            <tr>
                                <td style="padding: 4px!important;font-size: 11px;text-align: left;vertical-align: bottom;border-left: 1px solid black;border-bottom: 1px solid black;"></td>
                                <td style="padding: 4px!important;font-size: 11px;text-align: left;vertical-align: bottom;border-bottom: 1px solid black;"></td>
                                <td style="padding: 4px!important;font-size: 11px;text-align: left;vertical-align: bottom;border-bottom: 1px solid black;text-decoration: underline;">GRAND TOTAL</td>
                                <td style="padding: 4px!important;font-size: 11px;text-align: left;vertical-align: bottom;border-bottom: 1px solid black;"></td>
                                <td style="padding: 4px!important;font-size: 11px;text-align: left;vertical-align: bottom;border-bottom: 1px solid black;" id="totalquantin">0.00</td>
                                <td style="padding: 4px!important;font-size: 11px;text-align: left;vertical-align: bottom;border-bottom: 1px solid black;" id="totalquantout">0.00</td>
                                <td style="padding: 4px!important;font-size: 11px;text-align: left;vertical-align: bottom;border-bottom: 1px solid black;border-right: 1px solid black;" id="closing2"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                </div>
                </div>
                </div>
                </div>

                <script>


                    var itemname = $('#txtItems option:selected').text();
                    $('#itemname2').html(itemname);
                    var sdate = $('#startdate ').val();
                    var edate = $('#enddate ').val();
                    var balalnce = $('#closing2 ').html();
                    $('#sdate ').html(sdate);
                    $('#edate ').html(edate);


                    var rowid = 1;
                    var debit = 0;
                    var credit = 0;
                    var balane = 0;
                    var oldbalane = 0;
                    if ($("table > tbody > tr").length > 0) {
                        $("table > tbody > tr").each(function () {
                            var rownum = parseFloat($(this).find('td:eq(7)').html());



                            debugger;

                            if (rownum == rowid) {
                                debit = parseInt($(this).find('td:eq(4)').html());
                                credit = parseInt($(this).find('td:eq(5)').html());
                                balane = debit - credit;
                                oldbalane += balane
                                //var commaNum2 = numberWithCommas(num2);
                                if (oldbalane > 0) {
                                    $('#' + rownum + '').html(oldbalane);
                                    $('#closing2').html(oldbalane);
                                    $('#balance222').html(oldbalane);

                                }
                                else {
                                    $('#' + rownum + '').html(oldbalane);
                                    $('#closing2').html(oldbalane);
                                    $('#balance222').html(oldbalane);

                                }

                            }

                            rowid = rowid + 1;






                        })
                    }


























                    var totalsp = 0;
                    var totalquantin = 0;
                    var totalquantout = 0;
                    if ($("table > tbody > tr").length > 0) {
                        $("table  tbody  tr").each(function () {

                            debugger;
                            var ffx = $(this).find('td:eq(7)').html();


                            totalquantin += parseFloat($(this).find('td:eq(4)').html());
                            totalquantout += parseFloat($(this).find('td:eq(5)').html());
                            totalsp += parseFloat($(this).find('td:eq(7)').html());

                        });
                    }
                    //$('#totalsp').html("PKR " + totalsp);
                    $('#totalquantin').html(totalquantin);
                    $('#totalquantout').html(totalquantout);



                </script>

